<ion-header>

  <ion-navbar>
    <ion-title>Manuten\u00E7\u00E3o</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-input type="hidden" [(ngModel)]="manutencao.codigoVeiculo" ></ion-input>
  <ion-list>
    <ion-item>
      <ion-label stacked>
        <ion-icon name="list-box" *ngIf="manutencao.tipoManutencao == 'REVISAO'"></ion-icon>
        <ion-icon name="construct" *ngIf="manutencao.tipoManutencao == 'REPARO'"></ion-icon>
        <ion-icon name="warning" *ngIf="manutencao.tipoManutencao == 'SINISTRO'"></ion-icon>
        Tipo
      </ion-label>
      <ion-select [(ngModel)]="manutencao.tipoManutencao">
        <ion-option value="REPARO" *ngIf="!fixoRevisao">Reparo</ion-option>
        <ion-option value="SINISTRO" *ngIf="!fixoRevisao">Sinistro</ion-option>
        <ion-option value="REVISAO">Revis\u00E3o</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>
        <ion-icon name="paper"></ion-icon>
        Identifica\u00E7\u00E3o
      </ion-label>
      <ion-input type="text" [(ngModel)]="manutencao.descricao"></ion-input>
    </ion-item>
    <ion-item *ngIf="manutencao.tipoManutencao == 'REVISAO'">
      <ion-label stacked>
        <ion-icon name="speedometer"></ion-icon>
        Hodometro previsto
      </ion-label>
      <ion-input type="number" [(ngModel)]="manutencao.odometroPrevisto" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>
        <ion-icon name="speedometer"></ion-icon>
        Hodometro realizado
      </ion-label>
      <ion-input type="number" [(ngModel)]="manutencao.odometro" (keyup)="aplicarMascara('odometro', manutencao.odometro,'999999')"></ion-input>
    </ion-item>
    <ion-item *ngIf="manutencao.tipoManutencao == 'REVISAO'">
      <ion-label stacked>
        <ion-icon name="calendar"></ion-icon>
        Data prevista
      </ion-label>
      <ion-input [(ngModel)]="manutencao.dataPrevista" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>
        <ion-icon name="calendar"></ion-icon>
        Data realizada
      </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="manutencao.data" *ngIf="manutencao.status != 'REALIZADA'"></ion-datetime>
      <ion-input [(ngModel)]="manutencao.data" readonly *ngIf="manutencao.status == 'REALIZADA'"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>
        <ion-icon name="contact"></ion-icon>
        Oficina
      </ion-label>
      <ion-input type="text" [(ngModel)]="manutencao.nomeReparador" disabled="true" (click)="selecionarReparador()"></ion-input>
    </ion-item>
    <ion-item *ngIf="manutencao.tipoManutencao == 'SINISTRO'">
      <ion-label stacked>
        <ion-icon name="contact"></ion-icon>
        Seguradora
      </ion-label>
      <ion-input type="text" [(ngModel)]="manutencao.nomeSeguradora" disabled="true" (click)="selecionarSeguradora()"></ion-input>
    </ion-item>
    <ion-item *ngIf="manutencao.codigo != null || (manutencao.itensManutencao != null && manutencao.itensManutencao.length > 0)">
      <ion-label stacked *ngIf="manutencao.tipoManutencao != 'SINISTRO'">
        <ion-icon name="cash"></ion-icon>
        Valor total
      </ion-label>
      <ion-label stacked *ngIf="manutencao.tipoManutencao == 'SINISTRO'">
        <ion-icon name="cash"></ion-icon>
        Franquia
      </ion-label>
      <ion-input type="text" [(ngModel)]="valorTotal" readonly ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>
        <ion-icon name="text"></ion-icon>
        Observa\u00E7\u00E3o
      </ion-label>
      <ion-input type="text" [(ngModel)]="manutencao.motivo"></ion-input>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked > Categoria</ion-label>
          <ion-select [(ngModel)]="categoria" >
            <ion-option *ngFor="let cat of listaPecas;" [value]="cat" >{{cat.nome}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <button ion-button solid (click)="inserirNovoItem()" color="secondary">Inserir Item</button>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-card *ngFor="let item of manutencao.itensManutencao; let i = index" (click)="inserirItem(item,i)">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label style="text-align:center" class="principal">{{item.pecaServico.nome}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label style="text-align:center">Valor</ion-label>
        <ion-label style="text-align:center">R$ {{mask.converterParaString(item.quantidade * item.valorUnitario)}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label style="text-align:center">Observações</ion-label>
        <ion-label style="text-align:center">{{item.observacao}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
<button ion-button block color="primary" (click)="salvar()" >Salvar</button>
<button *ngIf="manutencao != null && manutencao.codigo != null" ion-button block (click)="apagar()" color="danger">Apagar</button>
</ion-content>
