page-editar-veiculo {
  .header-md{
    &:after{
        background-image: none;
    }
    ion-navbar{
        .toolbar-background-md{
            background: color($colors, primary);
        }
    }
    [menuToggle]{
        display: block !important;
    }
  }

  .scroll-content{
      margin-top: 50px !important;
      .home_header{
        height: 180px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
        }
      }
  }
  .principal{
      font-size: 1.1em;
      font-weight: bold
  }
}
.danger .toast-wrapper{
    background-color: color($colors, danger);
}