<ion-header>

  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
       <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gestão Auto</ion-title>

    <!-- Seleção de veículo -->
    <ion-buttons end>
      <button ion-button solid color="light" (click)="selecionarVeiculo()">
        {{veiculoSelecionado.nome}}
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-list>
      <!--  Título -->
      <ion-item>
        <ion-icon name="construct" item-left></ion-icon>
        <ion-label class="title">Manutenção<br>Programada</ion-label>
        <ion-icon name="md-create" item-right class="icon-edit"></ion-icon>
      </ion-item>

      <ion-item color="none">
        <ion-grid>
        <!-- Linha 1 -->
        <ion-row>
          <ion-col>
            <div class="principal">{{manutencao.descricao}}</div>
          </ion-col>
          <ion-col>
            <div class="secundario" *ngIf="manutencao.diasRestantes > 0">
              <ion-icon name="alarm"></ion-icon>
              {{manutencao.diasRestantes}} dias
            </div>
            <div class="secundario atrasado" *ngIf="manutencao.diasRestantes < 0">
              <ion-icon name="alarm"></ion-icon>
              Há {{manutencao.diasRestantes *(-1)}} dias
            </div>
          </ion-col>
          <ion-col>
            <div class="secundario"  *ngIf="manutencao.diasRestantes > 0 && manutencao.quilometrosRestantes > 0">
              <ion-icon name="warning"></ion-icon>
              {{manutencao.status}}
            </div>
            <div class="secundario atrasado" *ngIf="manutencao.diasRestantes < 0 || manutencao.quilometrosRestantes < 0">
              <ion-icon name="warning"></ion-icon>
              {{manutencao.status}}
            </div>
          </ion-col>
        </ion-row>
      <!-- Linha 2 -->
        <ion-row>
          <ion-col>
            <div class="info-revisao">
              {{manutencao.quilometragemPrevista}} km <br>{{manutencao.tempoUsoPrevisto}} meses
            </div>
          </ion-col>
          <ion-col>
            <div class="secundario"  *ngIf="manutencao.quilometrosRestantes > 0">
              <ion-icon name="speedometer"></ion-icon>
              {{manutencao.quilometrosRestantes}} km
            </div>
            <div class="secundario atrasado" *ngIf="manutencao.quilometrosRestantes < 0">
              <ion-icon name="speedometer" atrasado></ion-icon>
              Há {{manutencao.quilometrosRestantes * (-1)}} km
            </div>
          </ion-col>
          <ion-col>
            <div class="secundario">
              <ion-icon name="cash"></ion-icon>
              736,00
            </div>
          </ion-col>
        </ion-row>

        </ion-grid>
      </ion-item>

    </ion-list>
  </ion-card>
</ion-content>
