// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

@mixin background($size:cover,$repeat: no-repeat,$position:center) {
    background: {
      size: $size;
      repeat: $repeat;
      position:$position;
    }
}


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #404040,
  secondary:  #f7be45,
  textcolor:  #e0a424,
  danger:     #f53d3d,
  light:      #ffffff,
  placeholder:#ccc,
  dark:       #222,
  labelgrey:  #5d5555
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$text-input-placeholder-color:color($colors,primary);
$text-input-md-show-focus-highlight:false;
$toolbar-md-height:50px;
$button-md-height:4rem;
$button-md-border-radius:5px;
$toolbar-md-background:color($colors,primary);
$toolbar-md-title-font-size:1.7rem;
$segment-button-md-border-bottom-color:color($colors,primary);
$segment-button-md-border-color-activated:color($colors,secondary);
$alert-md-title-font-size:16px;
$alert-md-head-padding-top:16px;
$alert-md-head-padding-bottom:16px;
$alert-md-button-text-color:color($colors,textcolor);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";