<ion-header>

  <ion-navbar >
    <button ion-button menuToggle>
     <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Manuten\u00E7\u00F5es</ion-title>

    <ion-buttons end>
      <button ion-button solid color="light" (click)="selecionarVeiculo()">
        {{veiculoSelecionado.nome}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let m of manutencoes" (click)="acessarManutencao(m)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="principal">{{m.descricao}}</ion-label>
          <ion-label *ngIf="m.tipoManutencao == 'REVISAO'">{{m.odometroPrevisto}} Km</ion-label>
          <ion-label *ngIf="m.tipoManutencao != 'REVISAO'">{{m.odometro}} Km</ion-label>
        </ion-col>
        <ion-col>
          <ion-label *ngIf="m.tipoManutencao == 'REVISAO'">
            <ion-icon name="checkmark" *ngIf="m.status == 'REALIZADA'"></ion-icon>
            <ion-icon name="warning" *ngIf="m.status != 'REALIZADA'"></ion-icon>
            &nbsp;{{m.status}}
          </ion-label>
          <ion-label *ngIf="m.tipoManutencao != 'REVISAO'">
            <ion-icon name="checkmark"></ion-icon>
            &nbsp;REALIZADA
          </ion-label>
          <ion-label *ngIf="m.data != null">
            <ion-icon name="calendar"></ion-icon>
            {{m.data}}
          </ion-label>
          <ion-label *ngIf="m.data == null">
            <ion-icon name="calendar"></ion-icon>
            {{m.dataPrevista}}
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <ion-icon name="pin" *ngIf="m.nomeReparador != null"></ion-icon>
            &nbsp;{{m.nomeReparador}}
          </ion-label>
          <ion-label *ngIf="m.status != 'PENDENTE'">
            <ion-icon name="cash"></ion-icon>
            &nbsp;R$ {{m.valorTotal}}
          </ion-label>
          <!-- <ion-label *ngIf="m.status == 'PENDENTE'" class="estimado">
            <ion-icon name="cash"></ion-icon>
            &nbsp;R$ {{m.valorTotal}}
          </ion-label> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-fab right bottom >
    <button ion-fab (click)="addManutencao()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
