page-listagem-manutencao {
    ion-navbar {
        .toolbar-background-md{
            background: color($colors,secondary);
        }
    }
    ion-content{
        background-color: color($colors, light);
    }
    ion-select{
        color: color($colors, light);
    }
    button{
        background-color: color($colors, primary);
    }
    .principal{
        font-size: 1.1em;
        font-weight: bold
    }
    .estimado{
        color: color($colors, secondary);
    }
}