page-listagem-manutencao {
    ion-navbar {
        .toolbar-background-md{
            background: color($colors,secondary);
        }
    }
    ion-content{
        background-color: color($colors, light);
    }
    ion-row{
        margin-bottom: 5px;
    }
    .principal{
        font-size: 1.1em;
        font-weight: bold
    }
}